<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">

        <activity
            android:name=".view.Entrant.WaitingListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".view.Entrant.ProfileActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".view.Entrant.SettingsActivity" android:parentActivityName=".MainActivity"/>


        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity android:name=".view.Organizer.OrganizerMainActivity"
            android:exported="true" android:parentActivityName=".MainActivity"/>

        <activity android:name=".CreateEventActivity" android:parentActivityName=".view.Organizer.OrganizerMainActivity" />

        <activity android:name=".FacilityProfileActivity" android:parentActivityName=".view.Organizer.OrganizerMainActivity"/>
        <activity android:name=".view.Organizer.EventDetailsActivity" android:parentActivityName=".view.Organizer.OrganizerMainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MapsActivity"
            android:exported="true"
            android:parentActivityName=".view.Organizer.OrganizerMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".WaitingListActivity" />
        <activity android:name=".SelectedEntrantsActivity" />
        <activity android:name=".InvitedEntrantsActivity" />
        <activity android:name=".CancelledEntrantsActivity" />
        <activity android:name=".ConfirmedEntrantsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.maps.MAP_ID"
            android:value="9aad53a4ad71710a" />

    </application>

</manifest>
